.container{
    margin-top: 20px;
}
.menua{
    
    display: inline-flex;
    margin-left: 200px;
}
.menub{
    /* background-color: rgb(172, 97, 97); */
    height: 100px;
    width: 860px;
    display: inline-flex;
    margin-left: 55px;
    

}